::-webkit-scrollbar
{
        background-color: rgba(0,0,0,0);
        webkit-border-radius: 100px;
        width: 10px;
}
::-webkit-scrollbar:hover
{
        background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical
{
        background: rgba(0,0,0,0.5);
        background-clip: padding-box;
        border: 2px solid rgba(0, 0, 0, 0);
        min-height: 10px;
        webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active
{
        background: rgba(0,0,0,0.61);
        webkit-border-radius: 100px;
}
body
{
        background-color: #F2F1EF;
}
.intro
{
        font-family: 'Titillium Web', sans-serif;
        min-height: 30vh;
}
.title
{
        padding-top: 3em;
}
#errorMessage{
        font-family: 'Titillium Web', sans-serif;
        font-size: 0.8em;
        color: rgb(240,38,60);
}
.title h1
{
        font-family: 'Titillium Web', sans-serif;
}
.color
{
        float: left;
        height: 10em;
        margin-bottom: 0.1em;
        margin-left: 0.2em;
        margin-top: 0.1em;
        padding: 1em;
        position: relative;
        width: 10em;
}
.color span
{
        bottom: 1em;
        font-family: 'Titillium Web', sans-serif;
        left: 1em;
        position: absolute;
}
button
{
        font-family: 'Titillium Web', sans-serif;
        margin-left: 0.2em;
}